/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 08 - TABS */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.tabMenu {
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-right: 30px;
    cursor: pointer;
    &.active {
    	color: #0084ff;
    }
}

.tabEntry {
    display: none;
}

/*----------------------------------------------------------------*/
/* HOVER
/*----------------------------------------------------------------*/

@media (min-width: 992px) {

}

/*----------------------------------------------------------------*/
/* Media Queries
/*----------------------------------------------------------------*/

@media (max-width: 1500px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {
    
}

@media (max-width: 767px) {
    
}